---
http_interactions:
  - request:
      method: post
      uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments
      body:
        encoding: UTF-8
        string: '{"client_reference_id":"LA-FOO-BAR","submission_date":"2022-09-05"}'
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"e0f32b3248e4e0edd74ede9a7a0cd825"
      body:
        encoding: UTF-8
        string: '{"success":true,"assessment_id":"a6791e7c-8d40-4ca4-a8e1-f6cf5b7f4f8d","errors":[]}'
    recorded_at: Mon, 05 Sep 2022 09:00:00 GMT
  - request:
      method: post
      uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/a6791e7c-8d40-4ca4-a8e1-f6cf5b7f4f8d/proceeding_types
      body:
        encoding: UTF-8
        string: '{"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A"},{"ccms_code":"SE013","client_involvement_type":"I"}]}'
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"e156c1de751f0fc41f3ce5edefd256d2"
      body:
        encoding: UTF-8
        string: '{"success":true,"errors":[]}'
    recorded_at: Mon, 05 Sep 2022 09:00:00 GMT
  - request:
      method: post
      uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/a6791e7c-8d40-4ca4-a8e1-f6cf5b7f4f8d/applicant
      body:
        encoding: UTF-8
        string: '{"applicant":{"date_of_birth":"1961-09-05","has_partner_opponent":false,"receives_qualifying_benefit":true}}'
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"e156c1de751f0fc41f3ce5edefd256d2"
      body:
        encoding: UTF-8
        string: '{"success":true,"errors":[]}'
    recorded_at: Mon, 05 Sep 2022 09:00:00 GMT
recorded_with: VCR 6.1.0
