# .git currently used by dockerfile to set app version 
.gitignore
.byebug_history
.env
.env.*
.github
.yarn-integrity
.DS_Store
*.log

config/master.key

coverage
spec
tmp
log
storage

Dockerfile*
docker-compose.yml
Procfile.dev
README*
LICENSE
Makefile
mise.toml

infrastructure
helm_deploy

node_modules
vendor/bundle
vendor/cache

public/ccq/assets/*
!public/ccq/assets/static*
public/packs
public/packs-test

yarn-debug.log*