.terraform/
coverage/
venv/
env/
.DS_STORE
.vscode
*.code-workspace
*.sha256
terraform.tfstate

# Ignore master key for decrypting credentials and more.
/config/master.key

/app/assets/builds/*
!/app/assets/builds/.keep

/node_modules
*.iml
.idea/
tmp/
log/
.ruby-gemset

# dotenv
# Ignore environment variables
.env.*
.env
!.env.sample
