h1.govuk-heading-l = t("estimates.show.controlled_likely_to_qualify")
- t("estimates.show.controlled_eligible_paragraphs").each do
  p.govuk-body = _1
h2.govuk-heading-m = t("estimates.show.not_always_free")
p.govuk-body = t("estimates.show.freeness_explanation")
