== pdf_friendly_h2(t("estimates.show.controlled_likely_to_qualify"), "l", @is_pdf, nil, nil)

== pdf_friendly_paragraphs(t("estimates.show.controlled_eligible_paragraphs"), @is_pdf)

== pdf_friendly_h2(t("estimates.show.not_always_free"), "m", @is_pdf, nil, nil)

== pdf_friendly_p_element(t("estimates.show.freeness_explanation"), @is_pdf, nil)
