---
http_interactions:
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments
    body:
      encoding: UTF-8
      string: '{"submission_date":"2022-09-05"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0e67211495a8ce237e927d7ee444be92"
    body:
      encoding: UTF-8
      string: '{"success":true,"assessment_id":"3320cc25-7255-4855-bd07-422b39368f60","errors":[]}'
  recorded_at: Mon, 05 Sep 2022 09:00:00 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/3320cc25-7255-4855-bd07-422b39368f60/proceeding_types
    body:
      encoding: UTF-8
      string: '{"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A"},{"ccms_code":"SE013","client_involvement_type":"I"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Mon, 05 Sep 2022 09:00:00 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/3320cc25-7255-4855-bd07-422b39368f60/properties
    body:
      encoding: UTF-8
      string: '{"properties":{"main_home":{"value":100000,"outstanding_mortgage":50000,"percentage_owned":100,"shared_with_housing_assoc":false}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Mon, 05 Sep 2022 09:00:00 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/3320cc25-7255-4855-bd07-422b39368f60/applicant
    body:
      encoding: UTF-8
      string: '{"applicant":{"date_of_birth":"1972-09-05","has_partner_opponent":false,"receives_qualifying_benefit":true}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Mon, 05 Sep 2022 09:00:00 GMT
- request:
    method: get
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/3320cc25-7255-4855-bd07-422b39368f60
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8fc3eb10d15268c511571e705f14ea73"
    body:
      encoding: UTF-8
      string: '{"version":"5","timestamp":"2022-09-26T11:07:50.990Z","success":true,"result_summary":{"overall_result":{"result":"eligible","capital_contribution":0.0,"income_contribution":0.0,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":0.0,"lower_threshold":0.0,"result":"eligible"},{"ccms_code":"SE013","client_involvement_type":"I","upper_threshold":0.0,"lower_threshold":0.0,"result":"eligible"}]},"gross_income":{"total_gross_income":0.0,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":999999999999.0,"lower_threshold":0.0,"result":"pending"},{"ccms_code":"SE013","client_involvement_type":"I","upper_threshold":2657.0,"lower_threshold":0.0,"result":"pending"}]},"disposable_income":{"dependant_allowance":0.0,"gross_housing_costs":0.0,"housing_benefit":0.0,"net_housing_costs":0.0,"maintenance_allowance":0.0,"total_outgoings_and_allowances":0.0,"total_disposable_income":0.0,"employment_income":{"gross_income":0.0,"benefits_in_kind":0.0,"tax":0.0,"national_insurance":0.0,"fixed_employment_deduction":0.0,"net_employment_income":0.0},"income_contribution":0.0,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":999999999999.0,"lower_threshold":315.0,"result":"pending"},{"ccms_code":"SE013","client_involvement_type":"I","upper_threshold":733.0,"lower_threshold":315.0,"result":"pending"}]},"capital":{"total_liquid":0.0,"total_non_liquid":0.0,"total_vehicle":0.0,"total_property":0.0,"total_mortgage_allowance":999999999999.0,"total_capital":0.0,"pensioner_capital_disregard":0.0,"capital_contribution":0.0,"assessed_capital":0.0,"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A","upper_threshold":999999999999.0,"lower_threshold":3000.0,"result":"eligible"},{"ccms_code":"SE013","client_involvement_type":"I","upper_threshold":8000.0,"lower_threshold":3000.0,"result":"eligible"}]}},"assessment":{"id":"3320cc25-7255-4855-bd07-422b39368f60","client_reference_id":null,"submission_date":"2022-09-05","applicant":{"date_of_birth":"1972-09-05","involvement_type":null,"has_partner_opponent":false,"receives_qualifying_benefit":true,"self_employed":false},"gross_income":{"employment_income":[],"irregular_income":{"monthly_equivalents":{"student_loan":0.0}},"state_benefits":{"monthly_equivalents":{"all_sources":0.0,"cash_transactions":0.0,"bank_transactions":[]}},"other_income":{"monthly_equivalents":{"all_sources":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0},"bank_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0},"cash_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0}}}},"disposable_income":{"monthly_equivalents":{"all_sources":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0},"bank_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0},"cash_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0}},"childcare_allowance":0.0,"deductions":{"dependants_allowance":0.0,"disregarded_state_benefits":0.0}},"capital":{"capital_items":{"liquid":[],"non_liquid":[],"vehicles":[],"properties":{"main_home":{"value":"100000.0","outstanding_mortgage":"50000.0","percentage_owned":"100.0","main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":"3000.0","allowable_outstanding_mortgage":"50000.0","net_value":"47000.0","net_equity":"47000.0","main_home_equity_disregard":"100000.0","assessed_equity":"0.0"},"additional_properties":[]}}},"remarks":{}}}'
  recorded_at: Mon, 05 Sep 2022 09:00:00 GMT
recorded_with: VCR 6.1.0
