---
http_interactions:
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments
    body:
      encoding: UTF-8
      string: '{"client_reference_id":"EFE-REFERENCE-ID","submission_date":"2022-09-05"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"63bbd1237d54273f4a2993d89c02c3cd"
    body:
      encoding: UTF-8
      string: '{"success":true,"assessment_id":"08bf3d65-b263-42e2-b43c-8eca8f0ef1ad","errors":[]}'
  recorded_at: Mon, 05 Sep 2022 09:00:00 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/08bf3d65-b263-42e2-b43c-8eca8f0ef1ad/proceeding_types
    body:
      encoding: UTF-8
      string: '{"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A"},{"ccms_code":"SE013","client_involvement_type":"I"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Mon, 05 Sep 2022 09:00:00 GMT
recorded_with: VCR 6.1.0
