version: 2.1

executors:
  basic-executor:
    resource_class: small
    docker:
      - image: cimg/ruby:3.1.3-browsers
  test-executor:
    resource_class: small
    docker:
      - image: cimg/ruby:3.1.3-browsers
        environment:
          VCR_RECORD_MODE: none
          COVERAGE: true
          RAILS_ENV: test
          PGHOST: localhost
          PGUSER: user
          TZ: "Europe/London"
      - image: cimg/postgres:10.18
        environment:
          POSTGRES_USER: user
          POSTGRES_DB: ccq_test
  e2e-executor:
    resource_class: small
    docker:
      - image: cimg/ruby:3.1.3-browsers
        environment:
          VCR_RECORD_MODE: none
          COVERAGE: true
          RAILS_ENV: test
          PGHOST: localhost
          PGUSER: user
          TZ: "Europe/London"
          CFE_HOST: http://localhost:3000
      - image: cimg/postgres:10.18
        environment:
          POSTGRES_USER: user
          POSTGRES_DB: ccq_test
      - image: $CFE_ECR_ENDPOINT
        environment:
          SECRET_KEY_BASE: can_be_anything
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_HOST: cfe_db
          POSTGRES_DATABASE: cfe
          RAILS_ENV: production
          LEGAL_FRAMEWORK_API_HOST: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk
      - image: cimg/postgres:14.8
        name: cfe_db
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres

  cloud-platform-executor:
    docker:
      - image: ministryofjustice/cloud-platform-tools:2.1
        environment:
          GITHUB_TEAM_NAME_SLUG: laa-estimate-eligibility
          TZ: Europe/London

references:
  authenticate_k8s: &authenticate_k8s
    run:
      name: Authenticate with cluster
      command: |
        echo -n ${K8S_CLUSTER_CERT} | base64 -d > ./ca.crt
        kubectl config set-cluster ${K8S_CLUSTER_NAME} --certificate-authority=./ca.crt --server=https://${K8S_CLUSTER_NAME}
        kubectl config set-credentials circleci --token=${K8S_TOKEN}
        kubectl config set-context ${K8S_CLUSTER_NAME} --cluster=${K8S_CLUSTER_NAME} --user=circleci --namespace=${K8S_NAMESPACE}
        kubectl config use-context ${K8S_CLUSTER_NAME}
        echo ${K8S_CLUSTER_NAME}

  setup_database: &setup_database
    run:
      name: Database Setup
      command: |
        bundle exec rake db:create db:schema:load
        bundle exec rake db:migrate

orbs:
  browser-tools: circleci/browser-tools@1.4.0
  slack: circleci/slack@4.5.2
  aws-ecr: circleci/aws-ecr@8.2.1

jobs:
  install_dependencies:
    executor: basic-executor
    steps:
      - checkout
      - attach_workspace:
          at: ~/
      - restore_cache:
          key: check-client-qualifies-{{ checksum "Gemfile.lock" }}-v1-{{ checksum "yarn.lock" }}
      - run:
          name: Which bundler?
          command: bundle -v
      - run:
          name: Install yarn modules
          command: yarn install
      - run:
          name: Install ruby gems
          command: |
            bundle config set path 'vendor/bundle'
            bundle config set without 'development'
            bundle check || {
              # Install CMake - required to install undercover gem
              sudo apt update && sudo apt install cmake
              # Install missing gems
              bundle install
            }
      - run:
          name: Install postgres client
          command: sudo apt-get install -y postgresql-client
      - run:
          name: Compile assets for test run
          command: bundle exec rake test:prepare
      - save_cache:
          key: check-client-qualifies-{{ checksum "Gemfile.lock" }}-v1-{{ checksum "yarn.lock" }}
          paths:
            - vendor/bundle
            - node_modules
      - persist_to_workspace:
          root: ./
          paths:
            - vendor/bundle
            - node_modules
            - app/assets/builds
            - .bundle/config
      - slack/notify:
          channel: eligibility-alerts-uat
          event: fail
          template: basic_fail_1
          branch_pattern: main
  run_specs:
    executor: test-executor
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: Install Puppeteer with Chromium
          command: |
            yarn add puppeteer@19.2.0
      - run:
          name: Install PDFTK
          command: |
            sudo add-apt-repository --yes ppa:malteworld/ppa || true
            sudo apt update --allow-unauthenticated || true
            sudo apt install pdftk --allow-unauthenticated || true
      - *setup_database
      - run:
          name: Run tests
          command: |
            bundle exec rake spec
      - store_artifacts:
          path: coverage
      - slack/notify:
          channel: eligibility-alerts-uat
          event: fail
          template: basic_fail_1
          branch_pattern: main
  end2end_tests:
    executor: e2e-executor
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - *setup_database
      - run:
          name: Prepare for test run
          command: |
            bundle exec rake test:prepare
      - run:
          name: Run CFE End to End tests
          command: |
            COVERAGE=false bundle exec rspec -t end2end --format documentation spec/**/**_spec.rb
  linters:
    executor: basic-executor
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: Rubocop checks
          command: |
            bundle exec rubocop
      - run:
          name: erb-lint checks
          command: |
            bundle exec erblint --lint-all
      - run:
          name: Slim Lint
          command: |
            bundle exec slim-lint **/*.slim
      - slack/notify:
          channel: eligibility-alerts-uat
          event: fail
          template: basic_fail_1
          branch_pattern: main

  clean_up_ecr:
    executor: cloud-platform-executor
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Delete old images from ECR repo
          command: |
            ./bin/delete_ecr_images
      - slack/notify:
          channel: eligibility-alerts-uat
          event: fail
          template: basic_fail_1

  deploy_uat:
    executor: cloud-platform-executor
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - *authenticate_k8s
      - deploy:
          name: Deploy LAA Check-your-client-qualifies-for-legal-aid service to UAT
          command: |
            ./bin/uat_deployment
      - slack/notify:
          channel: eligibility-alerts-uat
          event: fail
          template: basic_fail_1

  deploy:
    parameters:
      namespace:
        type: string
    executor: cloud-platform-executor
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - *authenticate_k8s
      - deploy:
          name: Deploy LAA Check-your-client-qualifies-for-legal-aid service to << parameters.namespace >>
          command: |
            helm upgrade check-client-qualifies ./helm_deploy/laa-estimate-eligibility/. \
                          --install --wait \
                          --namespace=${K8S_NAMESPACE} \
                          --values ./helm_deploy/laa-estimate-eligibility/values/<< parameters.namespace >>.yaml \
                          --set image.repository="$ECR_ENDPOINT" \
                          --set image.tag="${CIRCLE_SHA1}"
      - slack/notify:
          channel: eligibility-alerts-<< parameters.namespace >>
          event: fail
          template: basic_fail_1

  deploy_production:
    executor: cloud-platform-executor
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - *authenticate_k8s
      - deploy:
          name: Deploy LAA Check-your-client-qualifies-for-legal-aid service to Production
          command: |
            helm upgrade check-client-qualifies ./helm_deploy/laa-estimate-eligibility/. \
                          --install --wait \
                          --namespace=${K8S_NAMESPACE} \
                          --values ./helm_deploy/laa-estimate-eligibility/values/production.yaml \
                          --set image.repository="$ECR_ENDPOINT" \
                          --set image.tag="${CIRCLE_SHA1}"
      - slack/notify:
          channel: eligibility-alerts-production
          event: fail
          template: basic_fail_1

  deploy_infrastructure_uat:
    executor: cloud-platform-executor
    steps:
      - checkout
      - *authenticate_k8s
      - deploy:
          name: Deploy LAA Check-your-client-qualifies-for-legal-aid service's /infrastructure to UAT
          command: |
            kubectl apply --record=false -f ./infrastructure/laa-estimate-financial-eligibility-for-legal-aid-uat/
      - slack/notify:
          channel: eligibility-alerts-uat
          event: fail
          template: basic_fail_1

workflows:
  run_ci:
    jobs:
      - install_dependencies
      - linters:
          requires:
            - install_dependencies
      - run_specs:
          requires:
            - install_dependencies
      - end2end_tests:
          requires:
            - install_dependencies
      - aws-ecr/build-and-push-image:
          name: Build and push
          repo: "${ECR_REPO_NAME}"
          tag: "${CIRCLE_SHA1}"
          requires:
            - install_dependencies
      - aws-ecr/build-and-push-image:
          name: Build and push latest tag
          repo: "${ECR_REPO_NAME}"
          tag: "latest"
          requires:
            - install_dependencies
          filters:
            branches:
              only:
                - main
      - deploy_uat:
          context: laa-estimate-eligibility-uat
          requires:
            - linters
            - run_specs
            - end2end_tests
            - linters
            - Build and push
      - deploy:
          name: Deploy staging
          namespace: staging
          context: laa-estimate-eligibility-staging
          requires:
            - run_specs
            - end2end_tests
            - linters
            - Build and push latest tag
          filters:
            branches:
              only:
                - main
      - deploy:
          name: Deploy production
          namespace: production
          context: laa-estimate-eligibility-production
          requires:
            - run_specs
            - end2end_tests
            - linters
            - Build and push latest tag
          filters:
            branches:
              only:
                - main
      - deploy_infrastructure_uat:
          context: laa-estimate-eligibility-uat
          filters:
            branches:
              only:
                - main

  nightly:
    triggers:
      - schedule:
          cron: "0 4 * * *"
          filters:
            branches:
              only: main
    jobs:
      - clean_up_ecr
