- dependant_allowance = FeatureFlags.enabled?(:el_809) ? "new" : "old"
- income_exclusion_key = "#{@estimate.level_of_help}_income_exclusion_#{dependant_allowance}"

= form_for(@form, url: wizard_path, method: :put) do |form|
  = form.govuk_error_summary t("generic.error_summary_title")

  = render "shared/heading",
           pre_header_text: t("estimate_flow.#{i18n_key}.caption"),
           header_text: t("estimate_flow.#{i18n_key}.legend"),
           post_header_text: t("estimate_flow.#{i18n_key}.second_caption")
    ul.govuk-list.govuk-list--bullet class="govuk-!-margin-bottom-5"
      - t("estimate_flow.#{i18n_key}.second_caption_bullets").each
        li.govuk-hint = _1
  = form.govuk_radio_buttons_fieldset :child_dependants,
          hint: lambda { \
                          tag.p(t("estimate_flow.#{i18n_key}.child_dependants.hint"), class: "govuk-hint") + \
                          tag.ul(class: "govuk-list govuk-list--bullet") do \
                            (t("estimate_flow.#{i18n_key}.child_dependants.#{@estimate.level_of_help}_exclusions").map do |exclusion| \
                              tag.li(exclusion, class: "govuk-hint") \
                            end).join.html_safe + \
                            tag.li(t("estimate_flow.dependant_details.child_dependants.#{income_exclusion_key}"), class: "govuk-hint") \
                          end \
                        },
          legend: { text: t("estimate_flow.#{i18n_key}.child_dependants.legend") } do
    = form.govuk_radio_button :child_dependants, true,
            label: { text: t("generic.yes_choice") } do
      = form.govuk_text_field :child_dependants_count,
          width: 5,
          value: integer_field_value(form, :child_dependants_count),
          label: { text: t("estimate_flow.#{i18n_key}.child_dependants.label") }
    = form.govuk_radio_button :child_dependants, false,
            label: { text: t("generic.no_choice") }

  -if @estimate.partner
    = form.govuk_radio_buttons_fieldset :adult_dependants,
            hint: lambda { \
                            (t("estimate_flow.#{i18n_key}.adult_dependants.hints").map do |hint| \
                              tag.p(hint, class: "govuk-hint") \
                            end).join.html_safe + \
                            tag.ul(class: "govuk-list govuk-list--bullet") do \
                              tag.li(t("estimate_flow.#{i18n_key}.adult_dependants.the_partner"), class: "govuk-hint") + \
                              (t("estimate_flow.#{i18n_key}.adult_dependants.#{@estimate.level_of_help}_exclusions").map do |exclusion| \
                                tag.li(exclusion, class: "govuk-hint") \
                              end).join.html_safe + \
                            tag.li(t("estimate_flow.dependant_details.adult_dependants.#{income_exclusion_key}"), class: "govuk-hint") \
                            end \
                          },
            legend: { text: t("estimate_flow.#{i18n_key}.adult_dependants.legend") } do
      = form.govuk_radio_button :adult_dependants, true,
              label: { text: t("generic.yes_choice") } do
        = form.govuk_text_field :adult_dependants_count,
            width: 5,
            value: integer_field_value(form, :adult_dependants_count),
            label: { text: t("estimate_flow.#{i18n_key}.adult_dependants.label") }
      = form.govuk_radio_button :adult_dependants, false,
              label: { text: t("generic.no_choice") }
  -else
    = form.govuk_radio_buttons_fieldset :adult_dependants,
            hint: lambda { \
                            (t("estimate_flow.#{i18n_key}.adult_dependants.hints").map do |hint| \
                              tag.p(hint, class: "govuk-hint") \
                            end).join.html_safe + \
                            tag.ul(class: "govuk-list govuk-list--bullet") do \
                              (t("estimate_flow.#{i18n_key}.adult_dependants.#{@estimate.level_of_help}_exclusions").map do |exclusion| \
                                tag.li(exclusion, class: "govuk-hint") \
                              end).join.html_safe + \
                              tag.li(t("estimate_flow.dependant_details.adult_dependants.#{income_exclusion_key}"), class: "govuk-hint") \
                            end \
                          },
            legend: { text: t("estimate_flow.#{i18n_key}.adult_dependants.legend") } do
      = form.govuk_radio_button :adult_dependants, true,
              label: { text: t("generic.yes_choice") } do
        = form.govuk_text_field :adult_dependants_count,
                width: 5,
                value: integer_field_value(form, :adult_dependants_count),
                label: { text: t("estimate_flow.#{i18n_key}.adult_dependants.label") }
      = form.govuk_radio_button :adult_dependants, false,
              label: { text: t("generic.no_choice") }

  = form.govuk_submit t("generic.save_and_continue")
