= form_for(@form, url: wizard_path, method: :put) do |form|
  = form.govuk_error_summary t("generic.error_summary_title")

  = render "shared/heading",
            pre_header_text: t("estimate_flow.#{i18n_key}.caption"),
            header_text: t("estimate_flow.#{i18n_key}.heading"),
            post_header_text: t("estimate_flow.#{i18n_key}.second_caption")
  = form.govuk_collection_radio_buttons :frequency,
          @form.frequency_options,
          :value,
          :label,
          legend: { text: t("estimate_flow.#{i18n_key}.frequency.input") }
  - EmploymentForm::DECIMAL_ATTRIBUTES.each do |field|
    = render "shared/money_input",
              form:,
              field:,
              width: 5,
              size: "m",
              label_text: t(".#{field}")
  = form.govuk_submit t("generic.save_and_continue")
