= form_for(@form, url: wizard_path, method: :put) do |form|
  = form.govuk_error_summary t("generic.error_summary_title")
  = render "shared/heading",
          pre_header_text: t("estimate_flow.#{i18n_key}.caption"),
          header_text: t("estimate_flow.#{i18n_key}.heading"),
          post_header_text: t("estimate_flow.#{i18n_key}.heading_hint")
  = render "shared/money_input",
          form:,
          field: :housing_payments,
          width: 10,
          label_text: t("estimate_flow.#{i18n_key}.value")
  = form.govuk_collection_radio_buttons :housing_payments_frequency,
                                        @form.housing_payment_frequencies,
                                        :first,
                                        :last,
                                        legend: -> { tag.p(t("estimate_flow.#{i18n_key}.frequency")) }
  = form.govuk_submit t("generic.save_and_continue")
