- counter ||= nil
. data-add-another-role="section"
  - if removeable
    .add-another-heading
      h2.govuk-heading-m
        = t("estimate_flow.additional_property_details.additional_property")
        span< data-add-another-role="counter" = counter
      button.govuk-button.govuk-button--secondary type="button" data-add-another-role="remove" id="remove-#{counter}" = t("generic.remove")

  / HOUSE VALUE
  = render "shared/add_another/money_field",
           errors: model.errors.messages[:house_value],
           form_name: "additional_property_details_form",
           model_name: "additional_property_model",
           field_name: "house_value",
           counter:,
           label: t("estimate_flow.additional_property_details.house_value.input"),
           value: model.house_value,
           hint: t("estimate_flow.property_entry.house_value.input_hint_#{@check.level_of_help}"),
           label_size: "m"

  / MORTGAGE
  - if model.show_inline_mortgage_ownership_question?
    = render "shared/add_another/yes_no_radios",
            errors: model.errors.messages[:inline_owned_with_mortgage],
            model_name: "additional_property_model",
            form_name: "additional_property_details_form",
            field_name: "inline_owned_with_mortgage",
            legend: t("estimate_flow.additional_property_details.mortgage.radio_label"),
                hint: t("estimate_flow.additional_property_details.mortgage.hint"),
            counter:,
            value: model.inline_owned_with_mortgage
      = render "shared/add_another/money_field",
                errors: model.errors.messages[:mortgage],
                form_name: "additional_property_details_form",
                model_name: "additional_property_model",
                field_name: "mortgage",
                counter:,
                label: t("estimate_flow.additional_property_details.mortgage.conditional_reveal_label"),
                value: model.mortgage
  - elsif model.owned_with_mortgage?
    = render "shared/add_another/money_field",
            errors: model.errors.messages[:mortgage],
            form_name: "additional_property_details_form",
            model_name: "additional_property_model",
            field_name: "mortgage",
            counter:,
            label: t("estimate_flow.additional_property_details.mortgage.input"),
            hint: t("estimate_flow.additional_property_details.mortgage.hint"),
            value: model.mortgage,
            label_size: "m"

  / % OWNED
  = render "shared/add_another/percentage_field",
            errors: model.errors.messages[:percentage_owned],
            form_name: "additional_property_details_form",
            model_name: "additional_property_model",
            field_name: "percentage_owned",
            counter:,
            label: t("estimate_flow.#{i18n_key}.percentage_owned.input"),
            hint: (t("estimate_flow.additional_property_details.percentage_owned.hint") if @check.partner && !partner),
            value: model.percentage_owned,
            label_size: "m"

  / PROPERTY SMOD
  - if model.smod_applicable
    = render "shared/add_another/checkbox_field",
            model_name: "additional_property_model",
            field_name: "house_in_dispute",
            counter:,
            label: t("generic.dispute"),
            value: model.house_in_dispute
    = render "smod_help"
