= render "shared/sidebar_with_date", \
  links: { \
    t("estimate_flow.property.properties_guidance.text") => t("estimate_flow.property.properties_guidance.certificated_link"), \
    t("generic.trapped_capital.text") => t("generic.trapped_capital.certificated_link"), \
    }
