= render "shared/sidebar_with_date", \
  links: { \
    t("estimate_flow.property.properties_guidance.text") => t("estimate_flow.property.properties_guidance.link"), \
    t("estimate_flow.property.trapped_capital.text") => t("estimate_flow.property.trapped_capital.link"), \
    }
