- content_for :page_title
  = t(".heading")
- content_for :back do
  = back_link(:applicant, @estimate, @back_buttons_invoke_browser_back_behaviour)

.govuk-grid-column-two-thirds
  = form_for(@form, url: wizard_path, method: :put) do |form|
    span.govuk-caption-l = t(".caption")
    h1.govuk-heading-xl = t(".heading")

    = form.govuk_error_summary t("generic.error_summary_title")

    = form.govuk_collection_radio_buttons :proceeding_type,
                                          ApplicantForm::PROCEEDING_TYPES.to_a,
                                          :last,
                                          ->(pair) { t(".proceeding_type.#{pair[0]}.label") },
                                          legend: { text: t(".proceeding_type.legend") },
                                          hint: { text: t(".proceeding_type.hint") }

    = form.govuk_collection_radio_buttons :over_60,
                                          yes_no_options, :first, :last,
                                          legend: { text: t(".over_60.legend") },
                                          hint: { text: t(".over_60.hint") }

    - if Flipper.enabled?(:partner)
      = form.govuk_radio_buttons_fieldset(:partner, legend: { text: t(".partner.legend"), tag: 'h2', size: 'm'}, hint: lambda { \
                                                      tag.p(t(".partner.hint_text"), class: "govuk-hint") + \
                                                      tag.ul(class: "govuk-list govuk-list--bullet") do \
                                                        t(".partner.hint_list").map { |benefit| \
                                                          tag.li(benefit, class: "govuk-hint") \
                                                        }.join.html_safe \
                                                      end + \
                                                      tag.p(t(".partner.partner_additional.hint_text"), class: "govuk-hint") + \
                                                      tag.ul(class: "govuk-list govuk-list--bullet") do \
                                                        t(".partner.partner_additional.hint_list").map { |benefit| \
                                                          tag.li(benefit, class: "govuk-hint") \
                                                        }.join.html_safe \
                                                      end \
                                                     } ) do
        - yes_no_options.each do |btn|
          - rb_hint = btn[1] == "Yes" ? t('.partner.rb_hint_text') : ''
          = form.govuk_radio_button :partner, btn[0],
            link_errors: true,
            label: { text: btn[1] },
            hint:  { text: rb_hint }



    = form.govuk_collection_radio_buttons :employed, employment_options, :first, :last,
                                          legend: { text: t(".employed.legend") },
                                          hint: { text: t(".employed.hint") }

    - if Flipper.enabled?(:partner)
      = form.govuk_collection_radio_buttons :passporting, yes_no_options, :first, :last,
                                            legend: { text: t(".passporting.legend") },
                                            hint: lambda { \
                                                    tag.p(t(".passporting.hint"), class: "govuk-hint") + \
                                                    tag.ul(class: "govuk-list govuk-list--bullet") do \
                                                      t(".passporting.valid_benefits").map { |benefit| \
                                                        tag.li(benefit, class: "govuk-hint") \
                                                      }.join.html_safe \
                                                     end + \
                                                    tag.p(t(".passporting.partner_hint"), class: "govuk-hint") \
                                                  }
    - else
      = form.govuk_collection_radio_buttons :passporting, yes_no_options, :first, :last,
                                            legend: { text: t(".passporting.legend") },
                                            hint: lambda { \
                                                    tag.p(t(".passporting.hint"), class: "govuk-hint") + \
                                                    tag.ul(class: "govuk-list govuk-list--bullet") do \
                                                      t(".passporting.valid_benefits").map { |benefit| \
                                                        tag.li(benefit, class: "govuk-hint") \
                                                      }.join.html_safe \
                                                    end \
                                                  }

    = form.govuk_submit t("generic.save_and_continue")

= render "shared/sidebar_with_date", \
links: { \
t(".passporting_guidance.text") => t(".passporting_guidance.link"), \
t(".pensioner_guidance.text") => t(".pensioner_guidance.link"), \
t(".domestic_abuse_guidance.text") => t(".domestic_abuse_guidance.link"),
t("estimate_flow.applicant.dependants.guidance.text") => t("estimate_flow.applicant.dependants.guidance.link"),
}
