- content_for :back do
  = back_link(:dependants, @estimate, @back_buttons_invoke_browser_back_behaviour)

.govuk-grid-column-two-thirds
  span.govuk-caption-l = t(@estimate.partner ? ".caption_with_partner" : ".caption")
  = form_for(@form, url: wizard_path, method: :put) do |form|

    = form.govuk_error_summary t("generic.error_summary_title")

    = form.govuk_collection_radio_buttons :dependants,
                                          yes_no_options,
                                          :first,
                                          :last,
                                          legend: { text: t(@estimate.partner ? ".legend_with_partner" : ".legend"),
                                                    tag: "h1",
                                                    size: "xl" },
                                          hint: lambda { \
                                                   tag.p(t(".hint")) + \
                                                   tag.ul(class: "govuk-list govuk-list--bullet") do \
                                                     tag.li(t(@estimate.partner ? ".lives_with_with_partner" : ".lives_with")) + \
                                                     tag.li(t(@estimate.partner ? ".depends_with_partner" : ".depends")) \
                                                   end + \
                                                   (tag.div(t(".not_partner"), class: "govuk-inset-text") if @estimate.partner) \
                                                   }

    = form.govuk_submit t("generic.save_and_continue")

= render "shared/sidebar_with_date",
         links: { t("estimate_flow.dependants.guidance.text") => t("estimate_flow.dependants.guidance.link") }
