---
http_interactions:
- request:
    method: post
    uri: https://cfe-civil-staging.cloud-platform.service.justice.gov.uk/v6/assessments
    body:
      encoding: UTF-8
      string: '{"assessment":{"submission_date":"2023-02-15","level_of_help":"certificated"},"dependants":[],"proceeding_types":[{"ccms_code":"SE003","client_involvement_type":"A"}],"applicant":{"date_of_birth":"1973-02-15","receives_qualifying_benefit":false}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6d21cd0ac94fcb236e1c623c3973bea6"
    body:
      encoding: UTF-8
      string: '{"version":"6","timestamp":"2024-03-05T07:51:48.631Z","success":true,"result_summary":{"overall_result":{"result":"eligible","capital_contribution":0.0,"income_contribution":0.0,"proceeding_types":[{"ccms_code":"SE003","upper_threshold":0.0,"lower_threshold":0.0,"result":"eligible","client_involvement_type":"A"}]},"gross_income":{"total_gross_income":0.0,"proceeding_types":[{"ccms_code":"SE003","upper_threshold":2657.0,"lower_threshold":0.0,"result":"eligible","client_involvement_type":"A"}],"combined_total_gross_income":0.0},"disposable_income":{"dependant_allowance_under_16":0,"dependant_allowance_over_16":0,"dependant_allowance":0,"gross_housing_costs":0.0,"housing_costs":0.0,"housing_benefit":0.0,"net_housing_costs":0.0,"allowed_housing_costs":0.0,"maintenance_allowance":0.0,"total_outgoings_and_allowances":0.0,"total_disposable_income":0.0,"employment_income":{"gross_income":0.0,"benefits_in_kind":0.0,"tax":0.0,"national_insurance":0.0,"prisoner_levy":0.0,"student_debt_repayment":0.0,"fixed_employment_deduction":0.0,"net_employment_income":0.0},"proceeding_types":[{"ccms_code":"SE003","upper_threshold":733.0,"lower_threshold":315.0,"result":"eligible","client_involvement_type":"A"}],"combined_total_disposable_income":0.0,"combined_total_outgoings_and_allowances":0.0,"partner_allowance":0,"lone_parent_allowance":0,"income_contribution":0.0},"capital":{"pensioner_disregard_applied":0.0,"total_liquid":0.0,"total_non_liquid":0.0,"total_vehicle":0.0,"total_property":0.0,"total_mortgage_allowance":999999999999.0,"total_capital":0.0,"subject_matter_of_dispute_disregard":0.0,"assessed_capital":0.0,"total_capital_with_smod":0,"disputed_non_property_disregard":0,"proceeding_types":[{"ccms_code":"SE003","upper_threshold":8000.0,"lower_threshold":3000.0,"result":"eligible","client_involvement_type":"A"}],"combined_disputed_capital":0,"combined_non_disputed_capital":0,"capital_contribution":0.0,"pensioner_capital_disregard":0.0,"combined_assessed_capital":0.0}},"assessment":{"id":"b714490f-6ec3-4db6-a642-bd4d05fd9817","client_reference_id":null,"submission_date":"2023-02-15","level_of_help":"certificated","applicant":{"date_of_birth":"1973-02-15","involvement_type":"applicant","employed":null,"has_partner_opponent":false,"receives_qualifying_benefit":false},"gross_income":{"employment_income":[],"irregular_income":{"monthly_equivalents":{"student_loan":0.0,"unspecified_source":0.0}},"state_benefits":{"monthly_equivalents":{"all_sources":0.0,"cash_transactions":0.0,"bank_transactions":[]}},"other_income":{"monthly_equivalents":{"all_sources":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0},"bank_transactions":{"friends_or_family":0,"maintenance_in":0,"property_or_lodger":0,"pension":0},"cash_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0}}}},"disposable_income":{"monthly_equivalents":{"all_sources":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0},"bank_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0},"cash_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0,"pension_contribution":0.0,"council_tax":0.0,"priority_debt_repayment":0.0}},"childcare_allowance":0.0,"deductions":{"dependants_allowance":0.0,"disregarded_state_benefits":0.0}},"capital":{"capital_items":{"liquid":[],"non_liquid":[],"vehicles":[],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0.0,"main_home":true,"shared_with_housing_assoc":false,"transaction_allowance":0,"allowable_outstanding_mortgage":0.0,"net_value":0,"net_equity":0,"smod_allowance":0,"main_home_equity_disregard":0,"assessed_equity":0,"subject_matter_of_dispute":false},"additional_properties":[]}}},"remarks":{}}}'
  recorded_at: Wed, 15 Feb 2023 00:00:00 GMT
[...]
- request:
    method: post
    uri: https://cfe-civil-staging.cloud-platform.service.justice.gov.uk/v6/assessments
    body:
      encoding: UTF-8
      string: '{"assessment":{"submission_date":"2023-02-15","level_of_help":"certificated"},"dependants":[],"proceeding_types":[{"ccms_code":"SE003","client_involvement_type":"A"}],"employment_details":[{"income":{"frequency":"monthly","gross":2700.0,"benefits_in_kind":0,"tax":-0.0,"national_insurance":-0.0,"receiving_only_statutory_sick_or_maternity_pay":false}}],"self_employment_details":[],"applicant":{"date_of_birth":"1973-02-15","receives_qualifying_benefit":false}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a00f3e075642a39a0f12f8cf202dd89a"
    body:
      encoding: UTF-8
      string: '{"version":"6","timestamp":"2024-03-05T07:51:49.881Z","success":true,"result_summary":{"overall_result":{"result":"ineligib[...]
[...]
- request:
    method: post
    uri: https://cfe-civil-staging.cloud-platform.service.justice.gov.uk/v6/assessments
    body:
      encoding: UTF-8
      string: '{"assessment":{"submission_date":"2023-02-15","level_of_help":"certificated"},"dependants":[],"proceeding_types":[{"ccms_code":"SE003","client_involvement_type":"A"}],"employment_details":[{"income":{"frequency":"monthly","gross":2700.0,"benefits_in_kind":0,"tax":-0.0,"national_insurance":-0.0,"receiving_only_statutory_sick_or_maternity_pay":false}}],"self_employment_details":[],"irregular_incomes":{"payments":[]},"regular_transactions":[],"applicant":{"date_of_birth":"1973-02-15","receives_qualifying_benefit":false}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a6c4323ba7b064e28126f0de640f3da9"
    body:
      encoding: UTF-8
      string: '{"version":"6","timestamp":"2024-03-05T07:51:50.738Z","success":true,"result_summary":{"overall_result":{"result":"ineligib[...]
[...]
