= render "shared/question_sidebar", \
  level_of_help:,
  links: { \
    t("generic.disregarded_benefits_guidance.text") => document_link(:"lc_guidance_#{level_of_help}", :disregarded_payments), \
  }
