-label_size ||= nil
= form.govuk_text_field field,
                        width:,
                        label: { text: label_text, size: label_size },
                        prefix_text: BuildEstimatesHelper::POUND,
                        value: decimal_as_money_string(form, field),
                        pattern: "[0-9]*",
                        inputmode: "numeric"
div class="govuk-!-padding-bottom-3"
