- size ||= nil
= form.govuk_text_field field,
                        width:,
                        label: { text: label_text, size: },
                        prefix_text: BuildEstimatesHelper::POUND,
                        value: decimal_as_money_string(form, field),
                        inputmode: "decimal"
