---
http_interactions:
- request:
    method: post
    uri: https://check-financial-eligibility-partner-staging.cloud-platform.service.justice.gov.uk/assessments
    body:
      encoding: UTF-8
      string: '{"submission_date":"2022-10-17"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a29fc062afff88b08bb3d46cad016766"
    body:
      encoding: UTF-8
      string: '{"success":true,"assessment_id":"df755cfd-6a38-4283-b3f0-a2fdecfaaa28","errors":[]}'
  recorded_at: Mon, 17 Oct 2022 09:00:00 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-partner-staging.cloud-platform.service.justice.gov.uk/assessments/df755cfd-6a38-4283-b3f0-a2fdecfaaa28/proceeding_types
    body:
      encoding: UTF-8
      string: '{"proceeding_types":[{"ccms_code":"SE003","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Mon, 17 Oct 2022 09:00:00 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-partner-staging.cloud-platform.service.justice.gov.uk/assessments/df755cfd-6a38-4283-b3f0-a2fdecfaaa28/applicant
    body:
      encoding: UTF-8
      string: '{"applicant":{"date_of_birth":"1972-10-17","has_partner_opponent":false,"receives_qualifying_benefit":false,"employed":false}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Mon, 17 Oct 2022 09:00:00 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-partner-staging.cloud-platform.service.justice.gov.uk/assessments/df755cfd-6a38-4283-b3f0-a2fdecfaaa28/partner_financials
    body:
      encoding: UTF-8
      string: '{"partner":{"date_of_birth":"1952-10-17","employed":true},"irregular_incomes":[{"income_type":"student_loan","frequency":"annual","amount":"60.0"},{"income_type":"unspecified_source","frequency":"quarterly","amount":"33.0"}],"employments":[{"name":"Job","client_id":"ID","receiving_only_statutory_sick_or_maternity_pay":false,"payments":[{"gross":"900.5","tax":"-75.0","national_insurance":"-15.0","client_id":"id-0","date":"2022-10-17","benefits_in_kind":0,"net_employment_income":"810.5"},{"gross":"900.5","tax":"-75.0","national_insurance":"-15.0","client_id":"id-1","date":"2022-09-17","benefits_in_kind":0,"net_employment_income":"810.5"},{"gross":"900.5","tax":"-75.0","national_insurance":"-15.0","client_id":"id-2","date":"2022-08-17","benefits_in_kind":0,"net_employment_income":"810.5"}]}],"regular_transactions":[{"operation":"credit","category":"friends_or_family","frequency":"monthly","amount":"100.0"},{"operation":"credit","category":"maintenance_in","frequency":"monthly","amount":"100.0"},{"operation":"credit","category":"property_or_lodger","frequency":"monthly","amount":"30.0"},{"operation":"credit","category":"pension","frequency":"monthly","amount":"40.0"},{"operation":"debit","category":"rent_or_mortgage","frequency":"monthly","amount":"400.0"},{"operation":"debit","category":"child_care","frequency":"monthly","amount":"160.0"},{"operation":"debit","category":"maintenance_out","frequency":"monthly","amount":"100.0"}],"state_benefits":[{"name":"housing_benefit","payments":[{"date":"2022-10-17","amount":"135.0","client_id":""},{"date":"2022-10-03","amount":"135.0","client_id":""},{"date":"2022-09-19","amount":"135.0","client_id":""},{"date":"2022-09-05","amount":"135.0","client_id":""},{"date":"2022-08-22","amount":"135.0","client_id":""},{"date":"2022-08-08","amount":"135.0","client_id":""}]}],"additional_properties":[{"value":"80000.0","outstanding_mortgage":"70000.0","percentage_owned":50,"shared_with_housing_assoc":false}],"capitals":{"bank_accounts":[{"value":"200.0","description":"Liquid
        Asset","subject_matter_of_dispute":false}],"non_liquid_capital":[{"value":"400.0","description":"Non
        Liquid Asset","subject_matter_of_dispute":false},{"value":"600.0","description":"Non
        Liquid Asset","subject_matter_of_dispute":false}]},"dependants":[],"vehicles":[{"value":"18000.0","loan_amount_outstanding":"500.0","date_of_purchase":"2020-10-17","in_regular_use":true,"subject_matter_of_dispute":false}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Mon, 17 Oct 2022 09:00:00 GMT
- request:
    method: get
    uri: https://check-financial-eligibility-partner-staging.cloud-platform.service.justice.gov.uk/assessments/df755cfd-6a38-4283-b3f0-a2fdecfaaa28
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"de3c5d2316bfa50dde78906c7e1f2f59"
    body:
      encoding: UTF-8
      string: '{"version":"5","timestamp":"2023-03-08T11:25:01.682Z","success":true,"result_summary":{"overall_result":{"result":"contribution_required","capital_contribution":4500.0,"income_contribution":147.46,"proceeding_types":[{"ccms_code":"SE003","client_involvement_type":"A","upper_threshold":0.0,"lower_threshold":0.0,"result":"contribution_required"}]},"gross_income":{"total_gross_income":0.0,"proceeding_types":[{"ccms_code":"SE003","client_involvement_type":"A","upper_threshold":2657.0,"lower_threshold":0.0,"result":"eligible"}],"combined_total_gross_income":1186.5},"disposable_income":{"dependant_allowance":0.0,"gross_housing_costs":0.0,"housing_benefit":0.0,"net_housing_costs":0.0,"maintenance_allowance":0.0,"total_outgoings_and_allowances":0.0,"total_disposable_income":0.0,"employment_income":{"gross_income":0.0,"benefits_in_kind":0.0,"tax":0.0,"national_insurance":0.0,"fixed_employment_deduction":0.0,"net_employment_income":0.0},"income_contribution":147.46,"proceeding_types":[{"ccms_code":"SE003","client_involvement_type":"A","upper_threshold":733.0,"lower_threshold":315.0,"result":"contribution_required"}],"combined_total_disposable_income":652.59,"combined_total_outgoings_and_allowances":533.91,"partner_allowance":191.41},"capital":{"total_liquid":0.0,"total_non_liquid":0.0,"total_vehicle":0.0,"total_property":0.0,"total_mortgage_allowance":999999999999.0,"total_capital":0.0,"pensioner_capital_disregard":0.0,"subject_matter_of_dispute_disregard":0.0,"capital_contribution":4500.0,"assessed_capital":0.0,"total_capital_with_smod":0.0,"proceeding_types":[{"ccms_code":"SE003","client_involvement_type":"A","upper_threshold":8000.0,"lower_threshold":3000.0,"result":"contribution_required"}],"pensioner_disregard_applied":0.0,"combined_assessed_capital":7500.0,"combined_capital_contribution":4500.0},"partner_capital":{"total_liquid":200.0,"total_non_liquid":1000.0,"total_vehicle":2500.0,"total_property":3800.0,"total_mortgage_allowance":999999999999.0,"total_capital":7500.0,"pensioner_capital_disregard":0.0,"subject_matter_of_dispute_disregard":0.0,"capital_contribution":0,"assessed_capital":7500.0,"total_capital_with_smod":7500.0},"partner_gross_income":{"total_gross_income":1186.5},"partner_disposable_income":{"dependant_allowance":0.0,"gross_housing_costs":400.0,"housing_benefit":292.5,"net_housing_costs":107.5,"maintenance_allowance":100.0,"total_outgoings_and_allowances":533.91,"total_disposable_income":652.59,"employment_income":{"gross_income":900.5,"benefits_in_kind":0.0,"tax":-75.0,"national_insurance":-15.0,"fixed_employment_deduction":-45.0,"net_employment_income":765.5},"income_contribution":0.0}},"assessment":{"id":"df755cfd-6a38-4283-b3f0-a2fdecfaaa28","client_reference_id":null,"submission_date":"2022-10-17","applicant":{"date_of_birth":"1972-10-17","involvement_type":null,"employed":false,"has_partner_opponent":false,"receives_qualifying_benefit":false,"self_employed":false},"gross_income":{"employment_income":[],"irregular_income":{"monthly_equivalents":{"student_loan":0.0,"unspecified_source":0.0}},"state_benefits":{"monthly_equivalents":{"all_sources":0.0,"cash_transactions":0.0,"bank_transactions":[]}},"other_income":{"monthly_equivalents":{"all_sources":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0},"bank_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0},"cash_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0}}}},"disposable_income":{"monthly_equivalents":{"all_sources":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0},"bank_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0},"cash_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0}},"childcare_allowance":0.0,"deductions":{"dependants_allowance":0.0,"disregarded_state_benefits":0.0}},"capital":{"capital_items":{"liquid":[],"non_liquid":[],"vehicles":[],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0,"main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":0.0,"net_value":0.0,"net_equity":0.0,"smod_allowance":0.0,"main_home_equity_disregard":0.0,"assessed_equity":0.0},"additional_properties":[]}}},"remarks":{},"partner_gross_income":{"employment_income":[{"name":"Job","payments":[{"date":"2022-10-17","gross":900.5,"benefits_in_kind":0.0,"tax":-75.0,"national_insurance":-15.0,"net_employment_income":810.5},{"date":"2022-09-17","gross":900.5,"benefits_in_kind":0.0,"tax":-75.0,"national_insurance":-15.0,"net_employment_income":810.5},{"date":"2022-08-17","gross":900.5,"benefits_in_kind":0.0,"tax":-75.0,"national_insurance":-15.0,"net_employment_income":810.5}]}],"irregular_income":{"monthly_equivalents":{"student_loan":5.0,"unspecified_source":11.0}},"state_benefits":{"monthly_equivalents":{"all_sources":0.0,"cash_transactions":0.0,"bank_transactions":[{"name":"Housing
        Benefit","monthly_value":292.5,"excluded_from_income_assessment":true}]}},"other_income":{"monthly_equivalents":{"all_sources":{"friends_or_family":100.0,"maintenance_in":100.0,"property_or_lodger":30.0,"pension":40.0},"bank_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0},"cash_transactions":{"friends_or_family":0.0,"maintenance_in":0.0,"property_or_lodger":0.0,"pension":0.0}}}},"partner_disposable_income":{"monthly_equivalents":{"all_sources":{"child_care":0.0,"rent_or_mortgage":400.0,"maintenance_out":100.0,"legal_aid":0.0},"bank_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0},"cash_transactions":{"child_care":0.0,"rent_or_mortgage":0.0,"maintenance_out":0.0,"legal_aid":0.0}},"childcare_allowance":0.0,"deductions":{"dependants_allowance":0.0,"disregarded_state_benefits":0.0}},"partner_capital":{"capital_items":{"liquid":[{"description":"Liquid
        Asset","value":200.0}],"non_liquid":[{"description":"Non Liquid Asset","value":400.0},{"description":"Non
        Liquid Asset","value":600.0}],"vehicles":[{"value":18000.0,"loan_amount_outstanding":500.0,"date_of_purchase":"2020-10-17","in_regular_use":true,"included_in_assessment":true,"disregards_and_deductions":15000.0,"assessed_value":2500.0}],"properties":{"main_home":{"value":0.0,"outstanding_mortgage":0.0,"percentage_owned":0,"main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":0.0,"allowable_outstanding_mortgage":0.0,"net_value":0.0,"net_equity":0.0,"smod_allowance":0.0,"main_home_equity_disregard":0.0,"assessed_equity":0.0},"additional_properties":[{"value":80000.0,"outstanding_mortgage":70000.0,"percentage_owned":50.0,"main_home":false,"shared_with_housing_assoc":false,"transaction_allowance":2400.0,"allowable_outstanding_mortgage":70000.0,"net_value":7600.0,"net_equity":3800.0,"smod_allowance":0,"main_home_equity_disregard":0.0,"assessed_equity":3800.0}]}}}}}'
  recorded_at: Mon, 17 Oct 2022 09:00:00 GMT
recorded_with: VCR 6.1.0
