---
http_interactions:
  - request:
      method: post
      uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments
      body:
        encoding: UTF-8
        string: '{"client_reference_id":"LA-FOO-BAR","submission_date":"2022-09-05","proceeding_types":{"ccms_codes":["DA001","SE013"]}}'
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"c5d33ef19e611285133c1d481ffaff73"
      body:
        encoding: UTF-8
        string: '{"success":true,"assessment_id":"edecfb66-6e47-4918-b022-c7961b83772d","errors":[]}'
    recorded_at: Mon, 05 Sep 2022 14:34:15 GMT
  - request:
      method: get
      uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/edecfb66-6e47-4918-b022-c7961b83772d
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 422
        message: Unprocessable Entity
      headers:
        content-type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '{"errors":["NoMethodError: undefined[...]
