<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Property Page Template</h1>
    <%= link_to 'Back', wizard_path(previous_step_for(@intro_form, :property)) %>
  </div>
</div>