<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t(".heading") %></h1>
    <%= link_to t("generic.back"), previous_wizard_path, class: "govuk-back-link" %>

    <%= form_with(url: wizard_path,
                  method: :put) do |form| %>

      <%= form.govuk_submit t("generic.submit") %>
    <% end %>
  </div>
</div>
