- content_for :back do
  = link_to t("generic.back"), wizard_path(previous_step_for(@estimate, :vehicle)), class: "govuk-back-link"
.govuk-grid-column-two-thirds
  span.govuk-caption-l
    = t(".caption")

  = form_for(@form,
               url: wizard_path,
               method: :put) do |form|

    = form.govuk_error_summary t("generic.error_summary_title")

    = form.govuk_collection_radio_buttons :vehicle_owned, yes_no_options, :first, :last,
                                            legend: { text: t(".vehicle_owned.legend"), size: "xl", tag: 'h1' },
                                            hint: { text: t(".vehicle_owned.hint") }

    = form.govuk_submit t("generic.save_and_continue")
= render "sidebar_with_date" do
  li
    = link_to t("build_estimates.vehicle.guidance.text"), t("build_estimates.vehicle.guidance.link")