.govuk-grid-column-two-thirds
  h1.govuk-heading-xl = t("service_unavailable.answers_deleted")

  p.govuk-body = t("service_unavailable.paragraph_1")
  p.govuk-body = t("service_unavailable.paragraph_2")