. class="govuk-!-margin-bottom-7"
  h2.govuk-heading-m class="govuk-!-margin-bottom-2" = Date.parse(change_log[:change_on]).strftime("%-d %B %Y")
  hr class="govuk-!-margin-bottom-4"
  = render "change_logs/history_texts/#{change_log[:key]}"
