$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";

@import "govuk-frontend/govuk/all";
// Import required moj components individually, as "moj/all"
// tries to import govuk/base which exists as _base.scss but the pipeline can't find it.
// Also, components list doesn't seem to include badge anyway?
@import "@ministryofjustice/frontend/moj/components/badge/badge";
@import "@ministryofjustice/frontend/moj/components/banner/banner";

@import "panel-grey.scss";
@import "sidebar";
@import "results";
@import "print";
@import "width";
@import "add-another";
@import "check-answers";
@import "summary-lists";

// NOTE: suggestions input component not yet part of GOV.UK frontend
// https://github.com/alphagov/govuk-frontend/pull/2453
@import "suggestions";
