@use "govuk-frontend/dist/govuk/all" as *; // This means we can use GOV.UK variables i.e. `$govuk-etc`

.govuk-button-group-custom {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  @media (min-width: #{map-get($govuk-breakpoints, 'tablet')}) {
    .govuk-button-group-custom {
        display: inline-flex;
        flex-direction: row;
        gap: 20px;
    }
  }