@use "govuk-frontend/dist/govuk/all" as *; // This means we can use GOV.UK variables i.e. `$govuk-etc`

.panel-blue {
  background: govuk-colour("blue");
  padding: 30px;
  border: none;
}

.white_text {
  color: white !important;
}
