/* stacked logo styles */
.gem-c-organisation-logo{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  margin: 0 0 30px 0;
}

.gem-c-organisation-logo__container{
  text-transform: none;
  text-decoration: none;
  // display: block;
  color: #0b0c0c;
  height: auto;
  width: auto;
  direction: ltr;
  background: url(/crest.svg) no-repeat 6px 0;
  background-size: auto 26px;
  padding-top: 25px;
  padding-left: 7px;
  border-left: 2px solid #0b0c0c;
}

.gem-c-organisation-logo__name{
  position: relative;
  direction: ltr;
  unicode-bidi: normal;
  top: 3px;
  font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

@media print {
  button {
    display: none !important; // In no circumstances do we want buttons to appear when the page is printed,
                              // regardless of class-based button styles
  }
}