tr.solid-top-border {
  border-top: 2px solid #000
}

tr.solid-bottom-border {
  border-bottom: 2px solid #000
}

// make the confirmation panel a neutral colour
.panel-blue {
  background: govuk-colour("blue");
}
