---
http_interactions:
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments
    body:
      encoding: UTF-8
      string: '{"submission_date":"2022-09-05"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8d8dbd29f4d33972511ddf66eaecb411"
    body:
      encoding: UTF-8
      string: '{"success":true,"assessment_id":"1dedf14a-92c8-4f15-9241-b70a03fa9dd3","errors":[]}'
  recorded_at: Mon, 05 Sep 2022 09:00:00 GMT
- request:
    method: post
    uri: https://check-financial-eligibility-staging.cloud-platform.service.justice.gov.uk/assessments/1dedf14a-92c8-4f15-9241-b70a03fa9dd3/proceeding_types
    body:
      encoding: UTF-8
      string: '{"proceeding_types":[{"ccms_code":"DA001","client_involvement_type":"A"},{"ccms_code":"SE013","client_involvement_type":"I"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e156c1de751f0fc41f3ce5edefd256d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[]}'
  recorded_at: Mon, 05 Sep 2022 09:00:00 GMT
recorded_with: VCR 6.1.0
