name: "Generate browsertools docker image"
on:
  schedule:
    - cron:  '*/30 * * * *'
  workflow_dispatch:
jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PAT }}
      - uses: actions/checkout@v3
      - name: Build the Docker image
        run: |
          docker build . --file ./Dockerfile_browser_tools.dockerfile
      - name: Push the Docker image
        run: |
          docker push masumkhan/welcome-to-docker
