name: "Generate browsertools docker image"
on:
  push:
    branches:
      - main
      - puppeteer-22121

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER_CCQ }}
          password: ${{ secrets.DOCKERHUB_PAT_CCQ }}
      - uses: actions/checkout@v4
      - name: Build the Docker image
        run: |
          docker build -f ./Dockerfile_browser_tools.dockerfile . -t checkclientqualifiesdocker/circleci-image:${{ github.ref_name }}
      - name: Push the Docker image
        run: |
          docker push checkclientqualifiesdocker/circleci-image:${{ github.ref_name }}
