name: RuboCop

on: [pull_request]

permissions:
  contents: read

jobs:
  rubocop:
    runs-on: ubuntu-latest
    env:
      BUNDLE_ONLY: test

    steps:
    - uses: actions/checkout@v4

    - name: Set up Ruby 3.2.3
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2.3
        bundler-cache: true

    - name: Run RuboCop
      run: bundle exec rubocop