- if ENV['GOOGLE_ANALYTICS_ID'].present? &&  'TODO: Add logic to determine when to enable analytics'
  script async=true src="https://www.googletagmanager.com/gtag/js?id=#{ENV['GOOGLE_ANALYTICS_ID']}"
  javascript:
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '#{ENV['GOOGLE_ANALYTICS_ID']}');
